/* 
   CSS文件名：NCBA-test.css
   作者：Brian chen
   日期：2024年4月23日
   描述：NCBA測試用css
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #EEEEEE;
    line-height: 1.7;
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto; /* 確保圖片比例不變 */
    margin: 0;
    padding: 0;
  }

/* 導航欄樣式 */
.navbar { 
    /*margin-top: 100px;*/
    background-color: #141E61;
    overflow: hidden;
    text-align: center;
    margin: 0;
}

.navbar a {
    float: left;
    display: block;
    color: #787A91;
    text-align: center;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 25px 15px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #141E61;
    color: #EEEEEE;
}

/* 標題樣式 */
h1 {
    font: bold 40px 'Roboto', sans-serif;
    color: #363636;
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
}

h2{
    font: bold 30px 'Roboto', sans-serif;
    color: #141E61;
    text-align: center;
}

h3{
    font: 25px 'Roboto', sans-serif;
    color: #141E61;
    text-align: center;
}

.fa-square-facebook {
    margin: 30px;
    font-size: 100px;
    color: #141E61; 
}
  
.fa-square-instagram {
    margin: 30px;
    font-size: 100px;
    color: #141E61; 
}

.main img {
    height: 150px;
    width: 150px;
    border-radius: 60%;
}

#Scores .container {
    display: flex;
    justify-content: center;  /*将表格水平居中对齐 */
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#Scores .background-table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: none; /* 移除框線 */
    background-color: #EEEEEE ; /* 設置表格背景色與頁面背景色相同 */
}

#Schedule .container {
    display: flex;
    justify-content: center;  /*将表格水平居中对齐 */
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#Schedule .background-table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: none; /* 移除框線 */
    background-color: #EEEEEE ; /* 設置表格背景色與頁面背景色相同 */
}

#Photos .container {
    display: flex;
    justify-content: center; /* 将表格水平居中对齐 */
    flex-wrap: wrap;
}

#Photos .list {
    width: 48%; /* 设置表格宽度为48% */
    margin-top: 20px; /* 添加上边距 */
    margin-bottom: 20px; /* 添加下边距 */
}

#Photos .list th,
#Photos .list td {
    padding: 10px; /* 设置单元格内边距 */
    border: 1px solid #ccc; /* 设置单元格边框 */
    text-align: center; /* 文本居中 */
}

#Photos .list th {
    background-color: #f2f2f2; /* 设置表头背景色 */
}

#Photos .list a {
    text-decoration: none; /* 去除链接下划线 */
    color: #000; /* 设置链接颜色为黑色 */
}

#Photos a {
    color: #787A91;
}

#Photos a:hover {
    background-color: #787A91;
    color: #EEEEEE;
}

/* 回到頂部按鈕的樣式 */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #141E61;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
  }